---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="BAM's Portfolio">
  <main>
	<About />
	<Skills />
  </main>
</Layout>

<style>
  main {
	display: flex;
	flex-direction: column;
	overflow: hidden;
  }
</style>
