
<div class="about">
  <div class="image-container">
    <img src='../../public/avatar.jpg' alt="ig" class="avatar">
  </div>
  <div class="about-text">
    <img src="../../public/Notepapper.png" alt="note" class="note">
    <h1>Hi I’m Bshar Amin AKA BAM</h1>
    <p>
      I’m a graduate Computer Information Systems At al balqa applied university with a 3.65GPA.
      I’m Intrested in Full Stack development.
    </p>
  </div>
  <div class="line"></div>

</div>


<style>
  .about {
    height: 100vh;	
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
  }

  .image-container {
    height: 125vh;
    width: 125vh;
    border-radius: 4rem;
    transform: translate(-60vh, -50px) rotate(-60deg);
    overflow: hidden;
  }

  .avatar {
    width: 120%;
    height: 120%;
    object-fit: cover;
    transform: translate(0, 15%) rotate(20deg);
  }

  .about-text {
    width: 45%;
    padding: 0rem;
    transform: translateX(-30%);
    position: relative;
  }

  .note {
    width: 2rem;
    aspect-ratio: 1;
    position: absolute;
    top: -1rem;
    left: -2rem;
  }

  .about-text h1 {
    font-size: 40px;
  }

  .about-text p {
    font-size: 30px;
  }

  .line {
    height: 1px;
    width: 40vw;
    background-color: black;
    position: absolute;
    bottom: 10vh;
    right: 0;
  }

  @media screen and (max-width: 991px) {
    .about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
    .image-container { 
      height: 50vh;
      width: 50vh;
      max-width: 80vw;
      transform: unset;	
      border-radius: 0rem;
    }

    .avatar {
      width: 100%;
      height: 100%;
      transform: unset;
    }

    .note { 
      top: 1rem;
      left: 0;
    }

    .about-text {
      width: 50vw;
      padding: 2rem;
      transform: unset;
      backdrop-filter: blur(5px);
    }

    .about-text h1 {
      font-size: 26px;
    }

    .about-text p {
      font-size: 20px;
    }

    .line {
      bottom: 2rem;
    }

  } 
</style>