
<div class="skills">
  <div class="section">

    <div class="header">
      <h1>My Skills</h1>
      </div>
      <div class="line"></div>
      <div class="line2"></div>

      <div class="languages">
        <div class="lang">
          <img src="./php.png" alt="php">
          <p>PHP</p>
        </div>
        <div class="lang">
          <img src="./python.png" alt="py">
          <p>python</p>
        </div>
        <div class="lang">
          <img src="./javascript.png" alt="javascript">
          <p>javascript</p>
        </div>
        <div class="lang">
          <img src="./typescript.png" alt="typescript">
          <p>typescript</p>
        </div>
      </div>

  </div>
  <div class="section">
    
  </div>
  <div class="freamworks">

  </div>
</div>

<style>
  .skills {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
  }

  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
  }

  .header {
    width: 50%;
  }

  .languages {
    width: 40%;
    justify-self: flex-end;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .line {
    width: 9rem;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 37vh;
    left: 25vw;
  }

  .line2 {
    width: 9rem;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 38vh;
    left: 22vw;
  }

  .lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  .lang img {
    width: 3rem;
    height: 3rem;
  }

  .lang > p {
    font-size: .8rem;
  }
</style>